@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.login-container {
  background-color: $gray-1;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    h1 {
      // font-family: Lexend Deca;
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 80px;
      text-align: center;
      color: $primary-color;
      margin-bottom: 15px;
      margin-top: 0;
    }
    .desc {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */
      text-align: center;
      color: $primary-color;
      margin-bottom: 20px;
    }
    .message {
      height: 20px;
      text-align: center;
      margin-bottom: 10px;
      .successMsg {
        color: $green;
      }
      .errorMsg {
        color: $red;
      }
    }

    .loginWith {
      display: flex;
      justify-content: space-between;
      gap: 15px;
    }

    .forgot {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      margin-top: 3px;
      .checkbox {
        display: flex;
        align-items: center;
        input {
          margin-right: 5px;
          width: 18px;
          height: 18px;
          accent-color: $primary-color;
        }
      }
      button {
        @include buttonLink();
      }
    }
  }
  .signUp {
    margin-top: 20px;
    text-align: center;
    button {
      @include buttonLink();
    }
  }
}
