@mixin random-bgr() {
  background-color: rgb(random(255), random(255), random(255));
}

.profile {
  position: relative;
  z-index: 10;
  ul {
    list-style-type: none;
    padding: 0;
  }
  .avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    @include random-bgr();
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:before {
        content: '';
        position: absolute;
        background-color: white;
        top: -5px;
        right: 50px;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
      }
    }
  }
  .info {
    padding: 20px 15px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    right: 0;
    top: 60px;
    width: 250px;
    transition: 0.5s;
    border: 1px solid #cecece;
    border-top-right-radius: 0;
    &::after {
      content: '';
      position: absolute;
      top: -13px;
      right: 4.5px;
      width: 25px;
      height: 25px;
      background-color: #fff;
      border: 1px solid #cecece;
      border-right: 0;
      border-bottom: 0;
      transform: rotate(45deg);
    }

    .name {
      font-size: 18px;
      width: 100%;
      padding: 15px 0;
      font-weight: 500;
      color: blue;
      text-align: center;
      line-height: 1.4;
      margin: 0;
      padding: 0;
      .desc {
        display: inline-block;
        font-size: 14px;
        color: #964ec2;
        font-style: italic;
        font-weight: 400;
      }
    }

    .info-menu {
      margin-bottom: 0;
      li {
        border-top: 1px solid #cecece;
        padding: 5px 0;
        display: flex;
        align-items: center;
        &:hover {
          i {
            opacity: 1;
          }
          a {
            color: red;
            transform: translateX(5px);
          }
          svg {
            color: red;
          }
        }
        i {
          font-size: 20px;
          opacity: 0.5;
          transition: 0.5s;
          color: blue;
        }
        a {
          text-decoration: none;
          color: black;
          font-size: 16px;
          margin-left: 15px;
          transition: 0.3s linear;
          transform: translateX(0);
          display: inline-block;
        }
      }
    }
  }
}
