@import '../../assets//styles/global';

.profile {
  height: 100%;

  .title {
    color: $primary-color;
    margin-bottom: 30px;
  }
  .fieldLabel {
    font-size: 16px;
    color: $primary-color;
    font-weight: 700;
  }

  .avatar {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    .avatarImage {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-top: 5px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      @include random-bgr();
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 55px;
      font-weight: 700;
      color: $white;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .listField {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .dangrousZone {
    background-color: $white;
    padding-top: 15px;
    margin-top: 150px;
    padding-bottom: 30px;
    border-top: 1px solid $gray-1;

    .deleteAccount {
      @include buttonLink;
      color: $red;
    }
  }
}
