@import '../../assets//styles/global';

.setting {
  .title {
    color: $primary-color;
    margin-bottom: 30px;
  }
  .fieldLabel {
    font-size: 16px;
    color: $primary-color;
    font-weight: 700;
  }

  .avatar {
    margin-bottom: 20px;
    .avatarImage {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: relative;
      margin-top: 5px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      @include random-bgr();
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 55px;
      font-weight: 700;
      color: $white;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
      .uploadImage {
        background-color: $white;
        color: $primary-color;
        border: 1px solid $primary-color;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 12px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        label {
          display: flex;
          height: 16px;
          cursor: pointer;
        }
        input {
          display: none;
        }
      }
    }
  }

  .listField {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  .submit {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    margin-top: 150px;
    border-top: 1px solid $gray-1;
  }
}
